{% extends 'SonataAdminBundle::layout.html.twig' %}

{% block content %}
<table>
    <thead>
        <tr>
            <th colspan="3">CSV-Import</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Import File directly:</td>
            <td>
                <form action="{{ path('entity_importer_homepage', {'entityClass' : entity_class}) }}" method="post" enctype="multipart/form-data" >
                    <!-- <select size="1" name="fileType">
                        {#{% for oneCSV in allTypes %}
                            <option value="{{ oneCSV.id }}">{{ oneCSV.title }}</option>
                        {% endfor %} #}
                    </select> <br /> -->
                    <input type="file" name="csvFile" /> <br />
                    <button name="import" value="1">
                        Importer
                    </button>
                 </form>
             </td>
        </tr>
    </tbody>
</table>

{% endblock %}
